<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--UNITY 信息-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity>
    <!--<typeAliases>
      <typeAlias alias="ISystemUserDAL" type="TestUnity.TestUnit"></typeAlias>
      <typeAlias alias="SystemUserDAL" type=""></typeAlias>
    </typeAliases>-->
    <containers>
      <container name="containerOne">
        <types>
          <type type="TestUnity.DAL.ISystemUserDAL,TestUnity.DAL" mapTo="TestUnity.DAL.SystemUserDAL,TestUnity.DAL" />
          <!--<type type="ConfigTest.IA,ConfigTest" mapTo="ConfigTest.A,ConfigTest"/>-->
          <!--<type type="TestUnity.DAL.IDAL.ISystemUserDAL" mapTo="TestUnity.DAL.IDAL.SystemUserDAL"
              lifeTime="Singleton"/>-->
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="erpEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LI-PC;initial catalog=erp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyProjectEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LI-PC;initial catalog=MyProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="erpEntities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=erp.sdydgc.cn;initial catalog=erp;persist security info=True;user id=sa;password=sdNyb@!@##;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MySystemEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MySystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>