<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--UNITY 信息-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ComponentDbType" value="sqlserver" />
    <add key="SessionTimeout" value="60" />
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="maxSize" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Buffered" />
        <binding name="securityT" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Buffered">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="BufferedHttpSampleServer">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147483647"
            authenticationScheme="Anonymous" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" realm="" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <wsDualHttpBinding>
        <binding name="UserLogin" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="WsMsgUsername" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Message">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="EFWCF.Services.UserService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WsMsgUsername"
          contract="EFWCF.IServices.IUserService">
          <identity>
            <dns value="MyServerCert"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--测试基类变更--><!--
      <service name="EFWCF.Services.UserTestService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IUserTestService" />
      </service>
      --><!---->
      <service name="EFWCF.Services.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IEmployeeService" />
      </service>
      <service name="EFWCF.Services.ModuleService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IModuleService" />
      </service>
      <service name="EFWCF.Services.ModuleTablesService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IModuleTablesService" />
      </service>
      <service name="EFWCF.Services.TableSetService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.ITableSetService" />
      </service>
      <service name="EFWCF.Services.ColumnSetService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IColumnSetService" />
      </service>
      <service name="EFWCF.Services.FunctionSetService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IFunctionSetService" />
      </service>
      <service name="EFWCF.Services.MenuSetService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IMenuSetService" />
      </service>
      <service name="EFWCF.Services.ModuleMenuService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IModuleMenuService" />
      </service>
      <service name="EFWCF.Services.DesktopLinkService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IDesktopLinkService" />
      </service>
      <service name="EFWCF.Services.ModuleColumnService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IModuleColumnService" />
      </service>
      <service name="EFWCF.Services.DataDictionaryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IDataDictionaryService" />
      </service>
      <service name="EFWCF.Services.SessionManagementService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="UserLogin"
          contract="EFWCF.IServices.ISessionManagement" />
      </service>
      <service name="EFWCF.Services.MaterialBaseInfoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="maxSize"
          contract="EFWCF.IServices.IMaterialBaseInfoService" />
      </service>
      <service name="EFWCF.Services.FileService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="UserLogin"
          contract="EFWCF.IServices.IFileService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="MyServerCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="EFWCF.WebWCF.MyCustomValidator,EFWCF.WebWCF" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity>
    <!--<typeAliases>
      <typeAlias alias="ISystemUserDAL" type="EFWCF.TestUnit"></typeAlias>
      <typeAlias alias="SystemUserDAL" type=""></typeAlias>
    </typeAliases>-->
    <containers>
      <container name="containerOne">
        <types>
          <type type="EFWCF.IDAL.IUserDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.UserDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IEmployeeDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.EmployeeDAL,EFWCF.DAL" />
          <!--ModuleDAL-->
          <type type="EFWCF.IDAL.IModuleDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.ModuleDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IModuleTablesDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.ModuleTablesDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.ITableSetDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.TableSetDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IColumnSetDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.ColumnSetDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IFunctionSetDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.FunctionSetDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IMenuSetDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.MenuSetDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IModuleTablesDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.ModuleTablesDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IDesktopLinkDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.DesktopLinkDAL,EFWCF.DAL" />
          <type type="EFWCF.IDAL.IModuleMenuDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.ModuleMenuDAL,EFWCF.DAL" />
          <!--结束：ModuleDAL-->
          <!--数据字典-->
          <type type="EFWCF.IDAL.IDataDictionaryDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.DataDictionaryDAL,EFWCF.DAL" />
          <!--材料管理-->
          <type type="EFWCF.IDAL.IMaterialBaseInfoDAL,EFWCF.IDAL" mapTo="EFWCF.DAL.MaterialBaseInfoDAL,EFWCF.DAL" />
          <!--<type type="EFWCF.DAL.IZuZhiJiGouDAL,EFWCF.DAL" mapTo="EFWCF.DAL.ZuZhiJiGouDAL,EFWCF.DAL" />
          <type type="EFWCF.DAL.IGongChengDAL,EFWCF.DAL" mapTo="EFWCF.DAL.GongChengDAL,EFWCF.DAL" />-->
          <!--<type type="ConfigTest.IA,ConfigTest" mapTo="ConfigTest.A,ConfigTest"/>-->
          <!--<type type="EFWCF.DAL.IDAL.ISystemUserDAL" mapTo="EFWCF.DAL.IDAL.SystemUserDAL"
              lifeTime="Singleton"/>-->
        </types>
      </container>
      <container name="containerService">
        <types>
          <type type="EFWCF.BLL.IUserBLL,EFWCF.BLL" mapTo="EFWCF.BLL.UserBLL,EFWCF.BLL" />
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="sqlserver" connectionString="server=.;uid=sa;pwd=sa!@##;database=EFTest;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>